@import '../app-block-styles.scss';
@import 'variables';

app-block {
  @include appBlock;

  .contacts {
    padding: $size-20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: $color-orange;

    .persons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .person {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 1.2em;
        }
      }

      .header-hr {
        height: $size-4;
      }

      hr {
        width: 100%;
        border-radius: $radius-full;
        background: $color-white;
        opacity: 0.15;
      }
    }
  }
}
