@import 'variables';

@mixin contentStyles {
    @include masterWidth;    

    display: flex;
    flex-direction: column;
    gap: 8vh;
    margin-top: $size-12;
    
    background: $color-surface-dark;
    padding: $size-20 $size-40;
    border-radius: $radius-lg;
}

@mixin logoStyles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20%;
        max-width: $size-120;
    }
}

@mixin inputsStyles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-20;

    input {
        width: 100%;
        background: $color-gray;
        padding: $size-12;
        color: $color-white;
        border: none;
        border-radius: $radius-full;
        outline: none;
        font-weight: 500;
        font-size: $font-sm;
    }
}

@mixin buttonStyles {
    background: $color-gray;
    padding: $size-12 $size-40;
    color: $color-white;
    border: none;
    border-radius: $radius-full;
    outline: none;
    font-weight: 500;
    font-size: $font-sm;
    width: 100%;
    max-width: $size-320;
}