@import '../app-block-styles.scss';
@import 'variables';

app-block {
  @include appBlock;

  app-map {
    width: 100%;
    border-radius: $radius-lg;
    overflow: hidden;
  }

  a {
    width: 100%;
  }

  .place {
    z-index: 99;
    padding: $size-12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    background-image: url('/bg/map.png');
    background-size: cover;
    color: black;
  }

  .text {
    width: 100%;
    display: flex;
    gap: $size-8;
    color: black;

    p {
      margin: 0;
      font-weight: 900;
      font-size: 1.1em;
      line-height: 0.8lh;
    }

    img {
      width: $size-20;
      filter: invert(1);
    }
  }
}
