@import '../app-block-styles.scss';
@import 'variables';

app-block {
  @include appBlock;

  .block {
    width: 100%;
    overflow: hidden;
    height: $size-160;
  }

  a {
    width: 100%;
  }

  .place {
    z-index: 99;
    padding: $size-12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background: $color-light-blue;
    position: relative;

    background-image: url('/bg/map.png');
    background-size: cover;
    color: black;

    .text {
      display: flex;
      gap: $size-8;
      align-items: flex-end;
      justify-content: space-between;

      p {
        margin: 0;
        font-weight: 900;
        font-size: 1.1em;
        line-height: 0.8lh;
      }

      img {
        width: $size-20;
        filter: invert(1);
      }
    }

  }
}
