@import 'variables';

.container {
  width: 100%;
  height: 100%;
  background: $color-gray;
  border-radius: $radius-lg;
  padding: $size-12;
  gap: $size-40;

  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .close {
      background: none;
      border: none;
      outline: none;

      img {
        width: 100%;
        height: 100%;
        rotate: 45deg;
      }
    }
  }

  .rating {
    width: 100%;
    height: $size-60;

    app-rating {
      height: $size-60;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: $size-12;

    label {
      width: 100%;

      input, textarea {
        width: 100%;
        min-height: 3lh;
        border-radius: $radius-lg;
        background: $color-light-gray;
        color: black;
        border: none;
        outline: none;
        padding-left: $size-12;
        font-family: "Google Sans", sans-serif;

        &::placeholder {
          font-family: "Google Sans", sans-serif;
          font-size: $font-little;
          font-weight: 700;
          font-style: normal;
          color: rgb(45, 45, 45);
        }
      }

      textarea {
        resize: none;
        field-sizing: content;
        word-break: break-all;
        white-space: pre-wrap;
        padding: $size-12;


        &:focus {
          outline: none;
        }

        &::-webkit-resizer {
          display: none;
        }
      }

      .text-count {
        color: $color-gray;
      }
      .active {
        color: $color-white;
      }
    }

    .publish-button {
      height: $size-40;
      border-radius: $radius-lg;
      border: none;
      outline: none;
    }
  }

    // .example-form {
      //   width: 100%;
      //   background: $color-light-gray;
      //   border-radius: $radius-lg;
      //   color: black;

      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      //   gap: $size-12;
      // }

      // .example-full-width {
        //   max-height: $size-400;
        //   display: flex;
        //   flex-direction: column;
        //   width: 100%;
        // }
}

.mat-mdc-text-field-wrapper  {
  display: none;
}
