@import 'variables';
@import '../contentStyles.scss';

.container {
    @include centerSettings;
    flex-direction: column;
    gap: $size-20;

    .content {
        @include contentStyles;

        .logo {
            @include logoStyles;
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $size-20
        }
    }
    
    button {
        @include buttonStyles;
    }
}