<div class="container">
  <div class="title">
    <h1>Программа лояльности</h1>
  </div>

  <div class="filter-panel">
    @for (cat of categories(); track cat) {
      <button
        class="filter-btn"
        [class.active]="selectedCategories().includes(cat)"
        (click)="toggleFilter(cat)">
        {{ cat }}
      </button>
    }
  </div>

  <div class="programm">
    @for (group of filteredGroups(); track group[0]) {
      <div class="group-section">
        <h1 class="group-title" appViewportAnimation>{{ ucFirst(group[0]) }}</h1>

        <div class="cards-grid">
          @for (item of group[1]; track item.name) {
            <label class="loyalty" appViewportAnimation>
              <h2>{{ item.name }}</h2>
              <p [innerHTML]="item.text"></p>

              @if (item.phone) {
                <div class="phone info-block">
                  <img src="icons/phone.svg">
                  <p>{{ item.phone }}</p>
                </div>
              }

              @if (item.telegram) {
                <a [href]="item.telegram.link" target="_blank" class="telegram info-block">
                  <img src="icons/tg-logo.svg">
                  <p>{{ item.telegram.text }}</p>
                </a>
              }

              @if (item.link) {
                <a [href]="item.link" target="_blank" class="link">
                  <img src="icons/link.svg">
                  <p class="truncate-link">{{ item.link }}</p>
                </a>
              }

              @if (item.adr) {
                <div class="addresses">
                  @for (address of item.adr; track address) {
                    <div class="address">
                      <img src="icons/map-pin-svgrepo-com.svg">
                      <p>{{ address }}</p>
                    </div>
                  }
                </div>
              }
            </label>
          }
        </div>
      </div>
    }
  </div>
</div>
