@import 'variables';

.cropper-content {
    display: flex;
    flex-direction: column;
    gap: $size-80;
    @include masterWidth;

    .cropper-editor {  
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: $size-20;

        image-cropper {
            max-height: 400px;
            border-radius: $radius-lg;
        }

        .block {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;

            display: flex;
            justify-content: center;
            align-items: center;
            border: $border-basic;
            border-radius: $radius-lg;
        }

        ::ng-deep {
            image-cropper {
                div {
                    outline: none !important;

                    > div {
                        outline: none !important;
                    }
                }
            }
        }

        .skeleton {
            p {
                padding: $size-12 $size-24;
                background: $color-gray;
                border-radius: $radius-full;
            }
        }
    }
    
    .delete-btn {
        width: 100%;
        padding: $size-12;
        background-color: $color-gray;
        color: $color-white;
        border: $border-basic;
        border-color: transparent;
        border-radius: $radius-lg;
        cursor: pointer;
        font-size: $font-sm;
        transition: border-color 0.2s;
        
        &:hover {
            border-color: $color-border;
        }
    }
    
    .cropper-buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        button {
            padding: $size-12 $size-24;
            border: none;
            border-radius: $radius-lg;
            cursor: pointer;
            font-size: $font-sm;
            transition: all 0.2s;

            background-color: $color-gray;
            color: white;
        }        
    }
}