@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110dvh;
  padding: $size-100 0;
  position: relative;

  background: radial-gradient(circle at 50% 300%, $color-yellow, $color-orange);
  gap: 5%;
  overflow: hidden;

  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.5em;
    }

    p {
      color: $color-light-gray;
      margin: 0;
    }
  }

  .abilities {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .ability {
      width: 100%;
      text-align: center;

      h2 {
        font-size: 2em;
        line-height: normal;
      }
    }
  }
}
