@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: $size-24;
  margin-bottom: $size-40;

  app-life-in {
    width: 100%;
  }

  .place {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    background: $color-orange;
    border-radius: $radius-lg;

    padding: $size-12;
    gap: $size-12;

    p {
      line-height: 0;
      margin-bottom: 0;
    }

    h1 {
      color: $color-white;
      font-size: 2em;
      text-align: center;
    }
  }

  .mission {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    background: $color-orange;
    border-radius: $radius-lg;

    padding: $size-12;

    p {
      margin: 0;
      font-weight: bolder;
    }

    h3 {
      color: $color-white;
      text-align: center;
      padding: 0 $size-24;
    }
  }

  .abilities-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: $color-blue;
      font-weight: 900;
    }

    .abilities {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $size-12;

      .ability {
        width: 100%;
        height: 100%;
        border: $border-basic;
        color: $color-gray;
        box-shadow: 0 0 $size-8 rgba(0, 0, 0, 0.1);
        padding: $size-12;

        border-radius: $radius-lg;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        a {
          img {
            height: $size-20;
            filter: invert(1);
            position: absolute;
            right: $size-8;
            bottom: $size-8;
          }

          color: $color-gray;
        }
      }
    }
  }
  .scroll-container {
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { display: none; }
    scrollbar-width: none;

    .images {
      width: 100vw;
      display: flex;
      gap: $size-12;
      padding: $size-12;
      overflow: scroll;
      scroll-snap-align: start;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: $radius-lg;
        flex-shrink: 0;
      }
    }
  }

  h2 {
    color: black;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .review-create {
      scroll-margin-top: -10rem;
      width: 100%;
      padding: $size-20;
      background: $color-gray;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-20;
    }

    p {
      color: black;
      margin: 0;
    }

    h2 {
      font-size: 4em;
    }

    .reviews {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-20;
      margin-top: $size-24;

      app-review {
        width: 90%;
      }
    }
  }
}



@keyframes appear-animation {
  from {
    opacity: 0;
    transform: translateY(20px) rotate(30deg);
  }
  to {
    opacity: 0.3;
    transform: translateY(0) rotate(0deg);
  }
}


app-popup {
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    gap: $size-20;

    .close {
      background: $color-gray;
      border: none;
      outline: none;

      height: 4dvh;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: $size-20;

      color: $color-white;
      font-size: 1em;
      border-radius: $radius-lg;

      img {
        rotate: 45deg;
      }
    }

    img {
      max-width: 90vw;
      max-height: 80vh;
      display: block;
      border-radius: $radius-lg;
    }
  }
}
