<div class="container">
  <div class="place" appViewportAnimation>
    <p>Наш адрес:</p>
    <h1>Нижний Новгород, Костина 6</h1>
  </div>
  <div class="mission" appViewportAnimation>
    <p>Наша миссия</p>
    <h3>
      Мы создаем решения для развития бизнеса
      через исследования клиентского опыта,
      анализ данных, применяя креативный подход
      и современные технологии.
    </h3>
  </div>

  <div class="abilities-container" appViewportAnimation>
    <h1>Возможности</h1>
    <div class="abilities">
      @for (item of abilities; track item.name) {
        <div class="ability">
          @if (item.link) {
            <a [href]="item.link" [target]="item.target">
              <h3>{{ item.name }}</h3>
              @if (item.icon) {
                <img [src]="item.icon" alt="Иконка">
              }
            </a>
          } @else {
            <h3>{{ item.name }}</h3>
          }
        </div>
      }
    </div>
  </div>

  <app-life-in></app-life-in>

  <h2>Наш офис</h2>
  <div appViewportAnimation class="scroll-container">
    <div id="images" class="images">
      @for (photo of photos; track $index) {
        <img
          src="photos/{{ photo }}.jpeg" alt="Фото {{ photo }}"
          loading="lazy" (click)="openPhoto(photo)">
      }
    </div>
  </div>


  <div class="review-container">
    <p>Оценка и отзывы</p>
    <h2 appViewportAnimation>{{ rating() }}/5</h2>
    <div id="reviews" class="review-create">
      Оцените и напишите отзыв
      <app-rating [currentStarInput]="currentStars()" (starsCountChanged)="rate($event)"></app-rating>
    </div>
    <div class="reviews">
      @for (item of reviews(); track item) {
        <app-review [review]="item"></app-review>
      }
    </div>
  </div>
</div>

<app-popup
  [isShow]="!!selectedPhoto()"
  (close)="selectedPhoto.set(null)">

    @if (selectedPhoto()) {
      <div class="content">
        <img
          src="photos/{{ selectedPhoto() }}.jpeg"
        >

        <button class="close" (click)="closePhoto()">
          <p>Закрыть</p>
          <img src="icons/add-icon.svg">
        </button>
      </div>
    }

</app-popup>
