<div class="container">
  <div class="title">
    <h1>Чеклист новичка</h1>
  </div>

  <div class="filters">
    <button
      class="filter-btn"
      [class.active]="selectedDays.includes('all')"
      (click)="toggleFilter('all')">
      Все
    </button>

    @for (day of days; track day) {
      <button
        class="filter-btn"
        [class.active]="selectedDays.includes(day)"
        (click)="toggleFilter(day)">
        День {{ day }}
      </button>
    }
  </div>

  <div class="checklist">
    @for (item of filteredCheckboxes; track item.id) {
      <label class="checkbox-item">
        <input
          type="checkbox"
          [checked]="item.checked"
          (change)="toggleTask(item.id)"
        >
        <div class="text-info" [class.completed]="item.checked">
          <p>{{ item.task }}</p>
          <p>День {{ item.day }}</p>
          <p>Помощник: {{ item.helper }}</p>
        </div>
      </label>
    }
  </div>
</div>
