@import '../app-block-styles.scss';
@import 'variables';

app-block {
  @include appBlock;

  .what-will-be {
    padding: $size-24 $size-12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: $color-orange;
    gap: $size-32;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: $size-8;

      .link {
        display: flex;
        align-items: center;
        gap: $size-8;
        height: 1.5em;

        font-size: 1.2em;

        font-weight: 900;

        img {
          height: 100%;
        }
      }
    }

  }
}
