<div class="container">
    <div class="content">
        <div class="logo">
            <img src="VO-logo-light.svg">
        </div>
        <form class="inputs">
            <div class="avatar-container" (click)="openAvatarUpload()">
                @if (avatarImage) {
                    <div class="avatar">
                        <img [src]="avatarImage" alt="Avatar">
                    </div>
                } @else {
                    <div class="avatar-placeholder">
                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M12 4v16m8-8H4"/>
                        </svg>
                    </div>
                    <p>Аватар</p>
                }
            </div>

            <input placeholder="Имя">
            <input placeholder="Фамилия">
            <input placeholder="Username">
            <input placeholder="Email">
            <input placeholder="Пароль">
            <!-- <p>Забыли пароль? Сбросить</p> -->
        </form>
        <div class="buttons">
            <button (click)="onRegistration($event)">Зарегистрироваться</button>
        </div>
    </div>
    <button class="back" routerLink="/auth">Назад</button>
</div>


@if (isCropperOpen) {
    <app-avatar-cropper 
        #avatarCropper
        [isOpen]="isCropperOpen"
        (outputImage)="onImageCropped($event)"
        (outputClose)="onCropperClose()">
    </app-avatar-cropper>
}