/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #0f0f0f;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
