@import 'variables';

.nav {
  width: 90%;
  height: $size-60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $size-12;
  background: $color-light-orange;
  border-radius: $radius-lg;
  color: #272727;
  transition: transform 0.3s ease;
  transform: translateY(0);
  position: relative;
  z-index: 9999;

  a {
    color: black;
  }

  .logo {
    height: 90%;

    img {
      height: 100%;
    }
  }
}

.nav-hidden {
  transform: translateY(-50dvh);
}
