@import 'variables';

:host {
  display: block;
  height: 100%;
}

.rating_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp($size-4, 2%, $size-20);
  height: 100%;
  width: 100%;

  .star {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
      display: block;
      object-fit: contain;
    }
  }
}
