.rating_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30px;
  gap: 10px;

  .star {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
  }
}
